.editor:not(prose-mirror) {
  color: #fff;
  min-height: 80px;
  height: 100% !important;
  background: rgba($c-black, 0.05);
  border-radius: 4px;
  padding: 4px;
}

.tox-tinymce,
.tox-editor-container,
.tox-sidebar-wrap,
.tox-edit-area {
  min-height: 170px;
  height: 100% !important;
}

.tox-tinymce {
  height: 100% !important;

  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: transparent;
    box-shadow: inset 0 -1px 0 rgba($c-black, 0.18);
  }

  button {
    font-size: 12px;
    padding: 0;
    background: transparent;
    margin: 0;
    width: auto;
    height: auto;
  }
}