<div class="weapon-ammo-dialog">
  <form>
    <div class="dialog-summary">
      <div class="dialog-summary__weapon">
        <img class="dialog-summary__icon" src="{{host.img}}" title="{{host.name}}" alt="{{host.name}}"/>
        <div class="dialog-summary__body">
          <h3>{{host.name}}</h3>
          <div class="dialog-summary__meta">
            {{#if host.formula}}<div class="tag">{{host.formula}}</div>{{/if}}
            {{#if host.damageType}}
              <span class="damage-icon" data-damage="{{host.damageType}}" title="{{host.damageType}}"></span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <div class="ammo-choice-list">
      <label class="ammo-choice">
        <input type="radio" name="toolId" value="" checked />
        <div class="ammo-choice__content">
          <div class="ammo-choice__header">
            <span class="ammo-choice__name">{{localize "PMTTRPG.Dialog.noAppliedTool"}}</span>
          </div>
        </div>
      </label>

      {{#each toolOptions as |tool|}}
        <label class="ammo-choice">
          <input type="radio" name="toolId" value="{{tool.id}}" />
          <img class="ammo-choice__icon" src="{{tool.img}}" title="{{tool.name}}" alt="{{tool.name}}"/>
          <div class="ammo-choice__content">
            <div class="ammo-choice__header">
              <span class="ammo-choice__name">{{tool.name}}</span>
              <span class="ammo-choice__quantity">{{tool.remaining}}</span>
            </div>
            <div class="ammo-choice__tags">
              {{#if tool.damageType}}
                <span class="tag tag--damage">{{tool.damageTypeLabel}}</span>
                <span class="damage-icon" data-damage="{{tool.damageType}}" title="{{tool.damageType}}"></span>
              {{/if}}
            </div>
          </div>
        </label>
      {{/each}}
    </div>

    {{#if showConsume}}
    <label class="consume-toggle">
      <input type="checkbox" name="consumeTool" {{#if consume}}checked{{/if}} />
      <span>{{localize "PMTTRPG.Dialog.consumeToolUse"}}</span>
    </label>
    {{/if}}
  </form>
</div>
