<div class="weapon-ammo-dialog">
  <form>
    {{#if host}}
    <div class="dialog-summary">
      <div class="dialog-summary__weapon">
        <img class="dialog-summary__icon" src="{{host.img}}" title="{{host.name}}" alt="{{host.name}}"/>
        <div class="dialog-summary__body">
          <h3>{{host.name}}</h3>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="ammo-choice-list">
      <label class="ammo-choice">
        <input type="radio" name="skillId" value="" checked />
        <div class="ammo-choice__content">
          <div class="ammo-choice__header">
            <span class="ammo-choice__name">{{localize "PMTTRPG.Clash.NoSkill"}}</span>
          </div>
        </div>
      </label>

      {{#each skillOptions as |skill|}}
        <label class="ammo-choice">
          <input type="radio" name="skillId" value="{{skill.id}}" />
          <img class="ammo-choice__icon" src="{{skill.img}}" title="{{skill.name}}" alt="{{skill.name}}"/>
          <div class="ammo-choice__content">
            <div class="ammo-choice__header">
              <span class="ammo-choice__name">{{skill.name}}</span>
              <span class="tag">{{localize "PMTTRPG.SkillLightCost"}}: {{skill.lightCost}}</span>
            </div>
          </div>
        </label>
      {{/each}}
    </div>

    <label class="consume-toggle">
      <input type="checkbox" name="consumeLight" {{#if consumeLight}}checked{{/if}} />
      <span>{{localize "PMTTRPG.Dialog.consumeLight"}}</span>
    </label>
  </form>
</div>
