<div class="skill-roll-dialog">
  <form>
    <div class="dialog-summary">
      <div class="dialog-summary__weapon">
        <img class="dialog-summary__icon" src="{{skill.img}}" title="{{skill.name}}" alt="{{skill.name}}"/>
        <div class="dialog-summary__body">
          <h3>{{skill.name}}</h3>
          <div class="dialog-summary__meta">
            <span class="tag">{{skill.typeLabel}}</span>
            {{#if selectedOption}}
              <span class="tag">{{selectedOption.name}}</span>
              <span class="tag">{{selectedOption.formula}}</span>
            {{/if}}
            <span class="tag">{{localize "PMTTRPG.SkillLightCost"}}: {{skill.lightCost}}</span>
          </div>
          {{#if skill.description}}
            <div class="dialog-summary__details">{{{skill.description}}}</div>
          {{/if}}
        </div>
      </div>
    </div>

    {{#if options.length}}
      <div class="skill-choice-list">
        {{#each options as |choice|}}
          <label class="skill-choice">
            <input type="radio" name="itemId" value="{{choice.id}}" {{#if choice.isDefault}}checked{{/if}} />
            <img class="skill-choice__icon" src="{{choice.img}}" title="{{choice.name}}" alt="{{choice.name}}"/>
            <div class="skill-choice__content">
              <div class="skill-choice__header">
                <span class="skill-choice__name">{{choice.name}}</span>
                <span class="tag">{{choice.formula}}</span>
              </div>
              <div class="skill-choice__tags">
                <span class="tag">{{choice.typeLabel}}</span>
                {{#if choice.isEquipped}}
                  <span class="tag equipped">{{localize "PMTTRPG.Equipped"}}</span>
                {{/if}}
                {{#if choice.damageType}}
                  <span class="damage-icon" data-damage="{{choice.damageType}}" title="{{choice.damageType}}"></span>
                {{/if}}
              </div>
            </div>
          </label>
        {{/each}}
      </div>

      <label class="consume-toggle">
        <input type="checkbox" name="consumeLight" checked />
        <span>{{localize "PMTTRPG.Dialog.consumeLight"}}</span>
      </label>
    {{else}}
      <p class="skill-roll-dialog__empty">{{localize "PMTTRPG.Dialog.noSkillOptions"}}</p>
    {{/if}}
  </form>
</div>