<div class="weapon-ammo-dialog">
  <form>
    <div class="dialog-summary">
      <div class="dialog-summary__weapon">
        <img class="dialog-summary__icon" src="{{weapon.img}}" title="{{weapon.name}}" alt="{{weapon.name}}"/>
        <div class="dialog-summary__body">
          <h3>{{weapon.name}}</h3>
          <div class="dialog-summary__meta">
            <div class="tag">{{weapon.offensiveDiceComputed}}</div>
            {{#if weapon.system.damageType}}
              <span class="damage-icon" data-damage="{{weapon.system.damageType}}" title="{{weapon.system.damageType}}"></span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    {{#if ammoOptions.length}}
      <div class="ammo-choice-list">
        {{#each ammoOptions as |ammo|}}
          <label class="ammo-choice">
            <input type="radio" name="ammoId" value="{{ammo.id}}" {{#if ammo.isDefault}}checked{{/if}} />
            <img class="ammo-choice__icon" src="{{ammo.img}}" title="{{ammo.name}}" alt="{{ammo.name}}"/>
            <div class="ammo-choice__content">
              <div class="ammo-choice__header">
                <span class="ammo-choice__name">{{ammo.name}}</span>
                <span class="ammo-choice__quantity">{{ammo.quantity}}</span>
              </div>
              <div class="ammo-choice__tags">
                {{#if ammo.ammoTypeLabel}}<span class="tag">{{ammo.ammoTypeLabel}}</span>{{/if}}
                {{#if ammo.damageType}}
                  <span class="tag tag--damage">{{ammo.damageTypeLabel}}</span>
                  <span class="damage-icon" data-damage="{{ammo.damageType}}" title="{{ammo.damageType}}"></span>
                {{/if}}
              </div>
            </div>
          </label>
        {{/each}}
      </div>

      <label class="consume-toggle">
        <input type="checkbox" name="consumeAmmo" checked />
        <span>{{localize "PMTTRPG.Dialog.consumeAmmunition"}}</span>
      </label>
    {{else}}
      <p class="ammo-choice__empty">{{localize "PMTTRPG.Dialog.noAvailableAmmunition"}}</p>
    {{/if}}
  </form>
</div>