<div class="item-avatar item-avatar--thumb"
     data-tooltip-html='<img src="{{img}}" alt="">'
     data-tooltip-class="pm-item-preview-tooltip"
     data-tooltip-direction="RIGHT">
  <img class="item-icon" src="{{img}}" alt="{{name}}">
</div>
