{{#if value}}
<div class="item-resist-tile" title="{{label}}">
  <img class="item-resist-tile__icon" src="{{assetPath}}/00_{{damageType}}.webp" alt="">
  <span class="item-resist-tile__value">{{value}}</span>
</div>
{{/if}}
