<section class="equipment-section equipment-section--outfits">

  {{#if system.isToken}}
  <p class="pm-warning">{{localize "PMTTRPG.OutfitsNotLinkedWarning"}}</p>
  {{/if}}

  <header class="tab-section-header">
    <h3 class="tab-section-title">{{localize "PMTTRPG.Outfits"}}</h3>
    <button type="button" data-action="itemCreate" data-type="outfit">{{localize "PMTTRPG.AddOutfit"}}</button>
  </header>

  <ol class="items-list">
    {{#each outfits as |item id|}}
    {{> "systems/projectmoonttrpg/templates/sheet/character/partials/item-row-outfit.hbs" item=item assetPath=../assetPath selects=../selects}}
    {{/each}}
  </ol>

</section>
