{{!-- Character sheet: Bio tab (character information & additional bio fields) --}}
<div class="tab bios {{lookup (lookup tabs "bios") "cssClass"}}" data-group="primary" data-tab="bios">
  <section class="sheet-tab">
    {{> "systems/projectmoonttrpg/templates/sheet/character/partials/bios.hbs"}}
  </section>
</div>