<div class="tab-scroll equipment-tab">
  {{> "systems/projectmoonttrpg/templates/sheet/character/partials/tab-weapons.hbs"}}
  {{> "systems/projectmoonttrpg/templates/sheet/character/partials/tab-outfits.hbs"}}
  {{> "systems/projectmoonttrpg/templates/sheet/character/partials/tab-ammunition.hbs"}}
</div>
