<section class="equipment-section equipment-section--weapons">

  {{#if system.isToken}}
  <p class="pm-warning">{{localize "PMTTRPG.WeaponsNotLinkedWarning"}}</p>
  {{/if}}

  <header class="tab-section-header">
    <h3 class="tab-section-title">{{localize "PMTTRPG.Weapons"}}</h3>
    <button type="button" data-action="itemCreate" data-type="weapon" data-weapon-type="melee">{{localize "PMTTRPG.AddWeapon"}}</button>
  </header>

  <ol class="items-list">
    {{#each allWeapons as |item id|}}
    {{> "systems/projectmoonttrpg/templates/sheet/character/partials/item-row-weapon.hbs" item=item assetPath=../assetPath selects=../selects}}
    {{/each}}
  </ol>

</section>
