<div class="resource-group">
  <div class="resource resource--easy-effects">
    <label>{{localize "PMTTRPG.EasyEffectsScript"}}</label>
    <textarea
      name="system.easyEffects"
      rows="12"
      data-dtype="String"
      {{#unless editable}}disabled{{/unless}}
    >{{system.easyEffects}}</textarea>
    {{#if canSyncEasyEffects}}
    <div class="easy-effects-sync-row">
      <button type="button" class="easy-effects-sync" data-action="sync-easy-effects">
        {{localize "PMTTRPG.EasyEffectsSync"}}
      </button>
    </div>
    {{/if}}
    {{#if easyEffectsHint}}
    <div class="help-text"><p>{{localize easyEffectsHint}}</p></div>
    {{/if}}
  </div>
</div>
