<ol class="combat-tracker directory-list directory-list--TTRPG data-application-part="header">
  {{#each combatants as |combatantGroup group|}}
    {{!-- Render the group label. --}}
    <li class="combatant directory-item flexrow directory-item--group {{group}}">
      <div class="ct-label ct-label--name">{{localize (concat "TTRPG." group "s")}}</div>
      {{#ifEquals group "character"}}
      <div class="ct-label ct-label--moves">{{../moveTotal}}</div>
      {{/ifEquals}}
    </li>
    {{!-- Render the column labels. --}}
    <li class="combatant directory-item grid directory-item--labels {{group}}">
      <div class="ct-item ct-item--img"></div>
      <div class="ct-item ct-item--name">{{localize "PMTTRPG.Common.Name"}}</div>
      <div class="ct-item ct-item--hp">{{localize "PMTTRPG.HP"}}</div>
    </li>
    {{!-- Render the combatants for this actor type. --}}
    <ol class="directory-list--TTRPG {{group}}">
      {{#each combatantGroup as |c index|}}
        <li class="combatant directory-item actor-elem {{#if c.token.hidden}}hidden{{/if}}" data-actor-id="{{c.actor.id}}" data-token-id="{{c.token.id}}" data-combatant-id="{{c.id}}" data-actor-type="{{c.actor.type}}">
          {{!-- Token image with a progress circle. --}}
          <div class="ct-item ct-item--img">
            <div class="image-wrapper">
              <img src="{{c.img}}" alt="Thumbnail image for {{c.name}}">
            </div>
          </div>
          {{!-- Name. --}}
          <div class="ct-item ct-item--name"><span>{{c.name}}</span></div>
          {{!-- HP, editable if this is the owner or GM. --}}
          <div class="ct-item ct-item--hp">
            {{#if c.displayHealth}}
              {{#if c.editable}}
                <input type="text" name="system.attributes.hp.value" value="{{c.actor.system.attributes.hp.value}}" data-dtype="Number">
              {{else}}
                <span>{{c.actor.system.attributes.hp.value}}</span>
              {{/if}}
            {{else}}???{{/if}}
          </div>
        </li>
          <div class="ct-item ct-item--st">
            {{#if c.displayStagger}}
              {{#if c.editable}}
                <input type="text" name="system.attributes.st.value" value="{{c.actor.system.attributes.st.value}}" data-dtype="Number">
              {{else}}
                <span>{{c.actor.system.attributes.st.value}}</span>
              {{/if}}
            {{else}}???{{/if}}
          </div>
        </li>
          <div class="ct-item ct-item--sp">
            {{#if c.displaySanity}}
              {{#if c.editable}}
                <input type="text" name="system.attributes.sp.value" value="{{c.actor.system.attributes.sp.value}}" data-dtype="Number">
              {{else}}
                <span>{{c.actor.system.attributes.sp.value}}</span>
              {{/if}}
            {{else}}???{{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  {{/each}}
</ol>