<div class="{{cssClass}} item-form flexcol">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">
      {{#if isOutdated}}
      <div class="compendium-outdated-banner">
        <span>{{localize "PMTTRPG.OutdatedWarning"}}</span>
        <button type="button" data-action="sync-from-compendium">
          {{localize "PMTTRPG.OutdatedUpdate"}}
        </button>
        <button type="button"
                data-action="dismiss-outdated"
                data-modified-time="{{compendiumModifiedTime}}">
          {{localize "PMTTRPG.OutdatedDismiss"}}
        </button>
      </div>
      {{/if}}
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PMTTRPG.Common.Name"}}"/></h1>
      </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item{{#if (eq activeTab 'description')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="description">{{localize "PMTTRPG.Common.Description"}}</a>
      <a class="item{{#if (eq activeTab 'augment')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="augment">{{localize "PMTTRPG.Augment"}}</a>
      <a class="item{{#if (eq activeTab 'effects')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="effects">{{localize "PMTTRPG.Effects"}}</a>
      <a class="item{{#if (eq activeTab 'advanced')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="advanced">{{localize "PMTTRPG.Advanced"}}</a>
    </nav>

    <section class="sheet-body">
      <div class="tab{{#if (eq activeTab 'description')}} active{{/if}}" data-group="primary" data-tab="description">
        <div class="help-text"><p>{{localize "PMTTRPG.AugmentNarrativeHint"}}</p></div>
        <prose-mirror name="system.description" value="{{system.description}}" toggled {{#unless editable}}disabled{{/unless}}>{{{system.descriptionEnriched}}}</prose-mirror>
      </div>

      <div class="tab{{#if (eq activeTab 'augment')}} active{{/if}}" data-group="primary" data-tab="augment">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.AugmentRank"}}</label>
            <input class="disabled" type="text" value="{{system.rank}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.AugmentBaseEP"}}</label>
            <input class="disabled" type="text" value="{{system.epBase}}" readonly/>
          </div>
        </div>
        <div class="help-text">
          <p>{{localize "PMTTRPG.AugmentEPHint"}}</p>
        </div>
      </div>

      <div class="tab{{#if (eq activeTab 'effects')}} active{{/if}}" data-group="primary" data-tab="effects">
        {{> "systems/projectmoonttrpg/templates/parts/effects-list.html"}}
      </div>

      <div class="tab{{#if (eq activeTab 'advanced')}} active{{/if}}" data-group="primary" data-tab="advanced">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.CustomNotes"}}</label>
            <textarea name="system.customNotes" rows="5" data-dtype="String">{{system.customNotes}}</textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>