<div class="{{cssClass}} item-form flexcol">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">
      {{#if isOutdated}}
      <div class="compendium-outdated-banner">
        <span>{{localize "PMTTRPG.OutdatedWarning"}}</span>
        <button type="button" data-action="sync-from-compendium">
          {{localize "PMTTRPG.OutdatedUpdate"}}
        </button>
        <button type="button"
                data-action="dismiss-outdated"
                data-modified-time="{{compendiumModifiedTime}}">
          {{localize "PMTTRPG.OutdatedDismiss"}}
        </button>
      </div>
      {{/if}}
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PMTTRPG.Common.Name"}}"/></h1>
      </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item{{#if (eq activeTab 'description')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="description">{{localize "PMTTRPG.Common.Description"}}</a>
      <a class="item{{#if (eq activeTab 'defenses')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="defenses">{{localize "PMTTRPG.OutfitDefenses"}}</a>
      <a class="item{{#if (eq activeTab 'resistances')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="resistances">{{localize "PMTTRPG.Resistances"}}</a>
      <a class="item{{#if (eq activeTab 'effects')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="effects">{{localize "PMTTRPG.Effects"}}</a>
      {{#if supportsEasyEffects}}
      <a class="item{{#if (eq activeTab 'easy-effects')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="easy-effects">{{localize "PMTTRPG.EasyEffects"}}</a>
      {{/if}}
      <a class="item{{#if (eq activeTab 'advanced')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="advanced">{{localize "PMTTRPG.Advanced"}}</a>
    </nav>

    <section class="sheet-body">
      <div class="tab{{#if (eq activeTab 'description')}} active{{/if}}" data-group="primary" data-tab="description">
        <prose-mirror name="system.description" value="{{system.description}}" toggled {{#unless editable}}disabled{{/unless}}>{{{system.descriptionEnriched}}}</prose-mirror>
      </div>

      <div class="tab{{#if (eq activeTab 'defenses')}} active{{/if}}" data-group="primary" data-tab="defenses">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.OutfitProperty"}}</label>
            <select name="system.outfitProperty" data-dtype="String">
              {{selectOptions selects.outfitProperties selected=system.outfitProperty localize=true}}
            </select>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.OutfitRank"}}</label>
            <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.EP"}}</label>
            <input class="disabled" type="text" data-system-field="epMax" value="{{system.epMax}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.BlockDice"}}</label>
            <input class="disabled" type="text" data-system-field="blockDiceComputed" value="{{system.blockDiceComputed}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.EvadeDice"}}</label>
            <input class="disabled" type="text" data-system-field="evadeDiceComputed" value="{{system.evadeDiceComputed}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.BlockDicePower"}}</label>
            <input class="disabled" type="text" data-system-field="blockDicePower" value="{{system.blockDicePower}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.EvadeDicePower"}}</label>
            <input class="disabled" type="text" data-system-field="evadeDicePower" value="{{system.evadeDicePower}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.BonusLight"}}</label>
            <input class="disabled" type="text" data-system-field="bonusLight" value="{{system.bonusLight}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.BonusEP"}}</label>
            <input class="disabled" type="text" data-system-field="bonusEP" value="{{system.bonusEP}}" readonly/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.Equipped"}}</label>
            <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
          </div>
        </div>
      </div>

      <div class="tab{{#if (eq activeTab 'resistances')}} active{{/if}}" data-group="primary" data-tab="resistances">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.ResistanceTrading"}}</label>
            <div class="help-text">
              <p>{{localize "PMTTRPG.ResistanceTradingHelp"}}</p>
            </div>
          </div>
          <div class="resource-grid">
            <div class="resource-group resource-group--resistance resource-group--hp" data-resistance="hp">
              <h3>{{localize "PMTTRPG.HPResistances"}}</h3>
              {{#each system.resistances.hp as |resistance key|}}
                <div class="resource">
                  <label>{{localize (lookup ../selects.damageTypes key)}}</label>
                  <select name="system.resistances.hp.{{key}}" data-dtype="String">
                    {{selectOptions ../selects.resistanceLevels selected=resistance localize=true}}
                  </select>
                  <span class="resistance-multiplier">{{lookup ../system.resistancesDisplay.hp key}}</span>
                </div>
              {{/each}}
            </div>
            <div class="resource-group resource-group--resistance resource-group--st" data-resistance="st">
              <h3>{{localize "PMTTRPG.STResistances"}}</h3>
              {{#each system.resistances.st as |resistance key|}}
                <div class="resource">
                  <label>{{localize (lookup ../selects.damageTypes key)}}</label>
                  <select name="system.resistances.st.{{key}}" data-dtype="String">
                    {{selectOptions ../selects.resistanceLevels selected=resistance localize=true}}
                  </select>
                  <span class="resistance-multiplier">{{lookup ../system.resistancesDisplay.st key}}</span>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="tab{{#if (eq activeTab 'effects')}} active{{/if}}" data-group="primary" data-tab="effects">
        {{> "systems/projectmoonttrpg/templates/parts/effects-list.html"}}
      </div>

      {{#if supportsEasyEffects}}
      <div class="tab{{#if (eq activeTab 'easy-effects')}} active{{/if}}" data-group="primary" data-tab="easy-effects">
        <div class="resource-group">
          <div class="resource resource--easy-effects">
            <label>{{localize "PMTTRPG.EasyEffectsScript"}}</label>
            <textarea
              name="system.easyEffects"
              rows="12"
              data-dtype="String"
              {{#unless editable}}disabled{{/unless}}
            >{{system.easyEffects}}</textarea>
          </div>
        </div>
      </div>
      {{/if}}

      <div class="tab{{#if (eq activeTab 'advanced')}} active{{/if}}" data-group="primary" data-tab="advanced">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.CustomNotes"}}</label>
            <textarea name="system.customNotes" rows="6" data-dtype="String">{{system.customNotes}}</textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
