<div class="{{cssClass}} item-form flexcol">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">

      {{#if isOutdated}}
      <div class="compendium-outdated-banner">
        <span>{{localize "PMTTRPG.OutdatedWarning"}}</span>
        <button type="button" data-action="syncFromCompendium">
          {{localize "PMTTRPG.OutdatedUpdate"}}
        </button>
        <button type="button"
                data-action="dismissOutdated"
                data-modified-time="{{compendiumModifiedTime}}">
          {{localize "PMTTRPG.OutdatedDismiss"}}
        </button>
      </div>
      {{/if}}
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PMTTRPG.Common.Name"}}"/></h1>
      </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item{{#if (eq activeTab 'description')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="description">{{localize "PMTTRPG.Common.Description"}}</a>
      <a class="item{{#if (eq activeTab 'properties')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="properties">{{localize "PMTTRPG.Skill"}}</a>
      <a class="item{{#if (eq activeTab 'effects')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="effects">{{localize "PMTTRPG.Effects"}}</a>
      <a class="item{{#if (eq activeTab 'advanced')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="advanced">{{localize "PMTTRPG.Advanced"}}</a>
    </nav>

    <section class="sheet-body">
      <div class="tab{{#if (eq activeTab 'description')}} active{{/if}}" data-group="primary" data-tab="description">
        <prose-mirror name="system.description" value="{{system.description}}" toggled {{#unless editable}}disabled{{/unless}}>{{{system.descriptionEnriched}}}</prose-mirror>
      </div>

      <div class="tab{{#if (eq activeTab 'properties')}} active{{/if}}" data-group="primary" data-tab="properties">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillType"}}</label>
            <select name="system.skillType" data-dtype="String">
              {{selectOptions selects.skillTypes selected=system.skillType localize=true}}
            </select>
          </div>
          {{#if (eq system.skillType "stat")}}
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillStat"}}</label>
            <select name="system.stat" data-dtype="String">
              {{selectOptions selects.abilities selected=system.stat localize=true}}
            </select>
          </div>
          {{/if}}
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillRank"}}</label>
            <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/>
            <div class="help-text"><p>{{localize "PMTTRPG.SkillLightCostHint"}}</p></div>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.Innate"}}</label>
            <input type="checkbox" name="system.innate" data-dtype="Boolean" {{#if system.innate}}checked{{/if}}/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.EP"}}</label>
            <input class="disabled" type="text" value="{{system.epMax}}" readonly/>
          </div>
        </div>
      </div>

      <div class="tab{{#if (eq activeTab 'effects')}} active{{/if}}" data-group="primary" data-tab="effects">
        {{> "systems/projectmoonttrpg/templates/parts/effects-list.html"}}
      </div>

      <div class="tab{{#if (eq activeTab 'advanced')}} active{{/if}}" data-group="primary" data-tab="advanced">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.CustomNotes"}}</label>
            <textarea name="system.customNotes" rows="6" data-dtype="String">{{system.customNotes}}</textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
