<form class="{{cssClass}} item-form flexcol" autocomplete="off">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PMTTRPG.Common.Name"}}"/></h1>
      </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize "PMTTRPG.Common.Description"}}</a>
      <a class="item" data-tab="properties">{{localize "PMTTRPG.Skill"}}</a>
      <a class="item" data-tab="advanced">{{localize "PMTTRPG.Advanced"}}</a>
    </nav>

    <section class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        {{editor system.descriptionEnriched target="system.description" button=true owner=owner editable=editable}}
      </div>

      <div class="tab" data-group="primary" data-tab="properties">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillType"}}</label>
            <select name="system.skillType" data-dtype="String">
              {{selectOptions selects.skillTypes selected=system.skillType localize=true}}
            </select>
          </div>
          {{#if (eq system.skillType "stat")}}
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillStat"}}</label>
            <select name="system.stat" data-dtype="String">
              {{selectOptions selects.abilities selected=system.stat localize=true}}
            </select>
          </div>
          {{/if}}
          <div class="resource">
            <label>{{localize "PMTTRPG.SkillRank"}}</label>
            <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/>
            <div class="help-text"><p>{{localize "PMTTRPG.SkillLightCostHint"}}</p></div>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.Innate"}}</label>
            <input type="checkbox" name="system.innate" data-dtype="Boolean" {{#if system.innate}}checked{{/if}}/>
          </div>
          <div class="resource">
            <label>{{localize "PMTTRPG.EP"}}</label>
            <input class="disabled" type="text" value="{{system.epMax}}" readonly/>
          </div>
        </div>
      </div>

      <div class="tab" data-group="primary" data-tab="advanced">
        <div class="resource-group">
          <div class="resource">
            <label>{{localize "PMTTRPG.CustomNotes"}}</label>
            <textarea name="system.customNotes" rows="6" data-dtype="String">{{system.customNotes}}</textarea>
          </div>
        </div>
      </div>
    </section>
  </div>
</form>
