<div class="{{cssClass}} item-form flexcol">
  <div class="sheet-wrapper flexcol">
    <header class="sheet-header flexrow">
      {{#if isOutdated}}
      <div class="compendium-outdated-banner">
        <span>{{localize "PMTTRPG.OutdatedWarning"}}</span>
        <button type="button" data-action="sync-from-compendium">
          {{localize "PMTTRPG.OutdatedUpdate"}}
        </button>
        <button type="button"
                data-action="dismiss-outdated"
                data-modified-time="{{compendiumModifiedTime}}">
          {{localize "PMTTRPG.OutdatedDismiss"}}
        </button>
      </div>
      {{/if}}
      
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
          <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PMTTRPG.Common.Name"}}"/></h1>
      </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item{{#if (eq activeTab 'description')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="description">{{localize "PMTTRPG.Common.Description"}}</a>
      <a class="item{{#if (eq activeTab 'status')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="status">{{localize "PMTTRPG.Status"}}</a>
        <a class="item{{#if (eq activeTab 'advanced')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="advanced">{{localize "PMTTRPG.Advanced"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab{{#if (eq activeTab 'description')}} active{{/if}}" data-group="primary" data-tab="description">
            <prose-mirror name="system.description" value="{{system.description}}" toggled {{#unless editable}}disabled{{/unless}}>{{{system.descriptionEnriched}}}</prose-mirror>
        </div>

        <div class="tab{{#if (eq activeTab 'status')}} active{{/if}}" data-group="primary" data-tab="status">
          <div class="resource-group">
            <div class="resource">
              <label>{{localize "PMTTRPG.Status"}}</label>
              <div class="help-text"><p>{{localize "PMTTRPG.StatusSheetHint"}}</p></div>
            </div>

            <div class="resource">
              <label>{{localize "PMTTRPG.StatusProcActivities"}}</label>
              <div class="status-proc-grid">
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.turnStart" {{checked system.proc.turnStart}}/> {{localize "PMTTRPG.StatusProcTurnStart"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.endOfRound" {{checked system.proc.endOfRound}}/> {{localize "PMTTRPG.StatusProcEndOfRound"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.actionOrReaction" {{checked system.proc.actionOrReaction}}/> {{localize "PMTTRPG.StatusProcActionOrReaction"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.attackerBurst" {{checked system.proc.attackerBurst}}/> {{localize "PMTTRPG.StatusProcAttackerBurst"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.onHitWhenActorHas" {{checked system.proc.onHitWhenActorHas}}/> {{localize "PMTTRPG.StatusProcOnHitWhenActorHas"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.onHitWhenTargetHas" {{checked system.proc.onHitWhenTargetHas}}/> {{localize "PMTTRPG.StatusProcOnHitWhenTargetHas"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.alwaysActive" {{checked system.proc.alwaysActive}}/> {{localize "PMTTRPG.StatusProcAlwaysActive"}}</label>
                <label class="status-proc-grid__item"><input type="checkbox" name="system.proc.skillEffect" {{checked system.proc.skillEffect}}/> {{localize "PMTTRPG.StatusProcSkillEffect"}}</label>
              </div>
            </div>

            <div class="resource">
              <label>{{localize "PMTTRPG.StatusMacroSlot"}}</label>
              <div class="status-macro-slot">
                <input type="text" name="system.macro.uuid" value="{{system.macro.uuid}}" data-dtype="String" placeholder="{{localize "PMTTRPG.StatusMacroUUID"}}"/>
                <button type="button" class="status-macro-trigger">{{localize "PMTTRPG.StatusMacroTrigger"}}</button>
              </div>
              <div class="help-text"><p>{{localize "PMTTRPG.StatusMacroSlotHint"}}</p></div>
            </div>
          </div>
        </div>

        <div class="tab{{#if (eq activeTab 'advanced')}} active{{/if}}" data-group="primary" data-tab="advanced">
          <div class="resource-group">
            <div class="resource">
              <label>{{localize "PMTTRPG.CustomNotes"}}</label>
              <textarea name="system.customNotes" rows="5" data-dtype="String">{{system.customNotes}}</textarea>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>